@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
@theme {
  --color-primary: #5f6fff;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}
.grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
